#  
#                                                                             
#     "     mmmm           m             m                                      
#   mmm    "   "#  mmm   mm#mm   mmm   mm#mm  m   m   mmm           m mm   mmm  
#     #      mmm" #   "    #    "   #    #    #   #  #   "          #"  " #   " 
#     #        "#  """m    #    m"""#    #    #   #   """m   """    #      """m 
#   mm#mm  "mmm#" "mmm"    "mm  "mm"#    "mm  "mm"#  "mmm"          #     "mmm" 
#                                                                              
#                                                                               
# Runtime files from files directory are expected to be installed 
# in /usr/share/i3status-rust or $XDG_DATA_HOME/i3status-rust.
# -> /usr/share/i3status-rust must contain the `icons` and `themes` dirs
#    that can be found in the repo inside `files`

# NORD COLORS
# $red    #bf616a
# $orange #d08770
# $yellow #ebcb8b
# $green  #a3be8c
# $lila   #b48ead

# Nord Frost
# $frost1 #8fbcbb
# $frost2 #88c0d0
# $frost3 #81a1c1
# $frost4 #5e81ac

icons_format = "{icon}"


[theme]
theme = "native" # native.toml is an empty file
[theme.overrides]
idle_fg = "#88c0d0"
warning_bg = "#ebcb8b"
warning_fg = "#3B4252"
critical_bg = "#bf616a"


[icons]
icons = "awesome4"
[icons.overrides]
bat = ["|E|", "|_|", "|=|", "|F|"]
bat_charging = "|^| "


[[block]]
block = "custom"
command = "metal i3"
interval = 5
[block.theme_overrides]
idle_fg = "#D08770"


[[block]]
block = "custom"
#command = "i3weather"
cycle=["i3weather short", "i3weather long"]
json=true
interval = 300
[block.theme_overrides]
idle_fg = "#a3be8c"


[[block]]
block = "sound"
[[block.click]]
button = "left"
cmd = "pavucontrol"


[[block]]
block = "custom"
command = "~/scripts/i3status-licht.sh"
#interval = 5
watch_files = ["/tmp/licht-ed16d5b5"]
#hide_when_empty=true
[block.theme_overrides]
idle_fg = "#708090"


[[block]]
block = "disk_space"
path = "/"
info_type = "available"
alert_unit = "GB"
interval = 20
warning = 0.0 # trying to not use warning
alert = 2.0
format = " $icon $available.eng(w:2) "
[block.theme_overrides]
idle_fg = "#708090"


[[block]]
block = "disk_space"
path = "/home"
info_type = "available"
alert_unit = "GB"
interval = 20
warning = 0.0 # trying to not use warning
alert = 10.0
format = " $icon $available.eng(w:2) "
[block.theme_overrides]
idle_fg = "#708090"


[[block]]
block = "memory"
format = " $icon $mem_used_percents.eng(w:1) "
format_alt = " $icon_swap $swap_used_percents.eng(w:2) "
interval = 30
warning_mem = 80
critical_mem = 92
[block.theme_overrides]
idle_fg = "#708090"


[[block]]
block = "custom"
interval = 1
command="i3timer"
hide_when_empty=true
[block.theme_overrides]
idle_fg = "#B48EAD"


[[block]]
block = "custom"
json = true
command = "i3vpn"
interval = 10
[block.theme_overrides]
idle_fg = "#708090"


[[block]]
block = "time"
interval = 60
#command="LC_TIME=de_DE.UTF-8 date '+%a %d.%m.%Y'"
#format = " $timestamp.datetime(f:'  %a %d.%m.%Y') "
format = " $timestamp.datetime(f:'  %a %d.%m.') "
[block.theme_overrides]
#idle_fg = "#d08770"
#idle_fg = "#b48ead"


[[block]]
block = "time"
interval = 1
format = " $timestamp.datetime(f:' %H:%M:%S') "
[block.theme_overrides]
#idle_fg = "#d08770"


# $frost1 #8fbcbb
# $frost2 #88c0d0
# $frost3 #81a1c1
# $frost4 #5e81ac
